<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar-nav">
            <a asp-controller="Store" asp-action="Index">Store</a>

            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Library" asp-action="Index">Library</a>

                <a asp-controller="Profile"
                   asp-action="Profile"
                   asp-route-nick="@User.Identity.Name">
                   Profile (@User.Identity.Name)
                </a>

                <form asp-controller="Auth" asp-action="Logout" method="post" style="display:inline">
                    <button type="submit" class="login-button">Logout</button>
                </form>
            }
            else
            {
                <a asp-controller="Auth" asp-action="Login" class="login-button">Login</a>
            }
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    @RenderSection("Scripts", required: false)
</body>
</html>
